<!doctype HTML>
<html ng-app='frontend' lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>Dana Hazen - Front End Case Study</title>
        <link href='style.css' rel='stylesheet' type='text/css'>
        <script src='angular.min.js'></script>
        <script src='script.js'></script>
        <!-- <script src='server/app.js'></script> -->
    </head>
    <body>
        <div ng-controller="titleController">
            <p class='title'>{{title}}</p>
        </div>
        <div ng-controller="priceController">
            <p class='price'>Current Price: {{price}}</p>
        </div>
        <div class='buttons'>
            <div>
            <button ng-controller="addToCartController" class='online'>{{addToCart}}</button>
            </div>
            <div>
            <button ng-controller="pickUpInStoreController" class='store'>{{pickUpInStore}}</button>
            </div>
        </div>
        <div ng-controller="carouselController" class="carousel">
            <div ng-repeat="image in images">
                <img ng-src="{{image.image}}" alt={{image.name}}/>
            </div>
            <!-- <div class="arrows">
                <a href="#" ng-click="prev()">
                <img src="left-arrow.png" />
                </a>
                <a href="#" ng-click="next()">
                <img src="right-arrow.png" />
                </a>
            </div> -->
        </div>
    </body>
</html>